.messageLine {
  margin-bottom: 10px;
  display: flex;
}

.messageItem {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px #ccc;
  display: flex;
  flex-direction: column;
  padding: 3px;
  max-width: 50%;
  width: auto;
  cursor: pointer;
}

.messageText {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 5px 40px 5px 5px;
}

.messageText img {
  max-width: 300px;
  max-height: 300px;
}

.messageDate {
  font-size: 11px;
  color: #999;
  margin-right: 5px;
  text-align: right;
  height: 15px;
  margin-top: -8px;
}
